In [71]:
import numpy as np
import pandas as pd
from collections import Counter

df = pd.read_excel("mydata4.xlsx")
df["stage_at_diagnosis"] = df["stage_at_diagnosis"].replace(to_replace=["IIA", "IIB"], value="II")
new_df = df.fillna("unknown")
new_df.rename(columns={'Unnamed: 0':'id'}, inplace = True)
colname = new_df.columns
for k,v in enumerate(colname):
    print(k, ": ", v)

0 :  id
1 :  sex.raw
2 :  age
3 :  days
4 :  mort
5 :  smoking_status
6 :  stage_at_diagnosis
7 :  Treatment
8 :  Adjuvant_chemotherapy
9 :  Treatment_Radiation
10 :  Recurrence_status

In [72]:
new_df.head()

,id,sex.raw,age,days,mort,smoking_status,stage_at_diagnosis,Treatment,Adjuvant_chemotherapy,Treatment_Radiation,Recurrence_status
0,14,male,60,465,dead,active,II,No Adjuvant treatment,No_chemotherapy,No_Radiation,Recurrence
1,15,female,52,163,dead,former,I,No Adjuvant treatment,No_chemotherapy,No_Radiation,Recurrence
2,24,male,50,272,dead,active,II,No Adjuvant treatment,No_chemotherapy,No_Radiation,Recurrence
3,43,female,71,140,unknown,former,I,No Adjuvant treatment,No_chemotherapy,No_Radiation,Recurrence
4,45,male,75,45,dead,former,I,No Adjuvant treatment,No_chemotherapy,No_Radiation,Recurrence

In [73]:
new_df["sex.raw"] = new_df["sex.raw"].replace(to_replace=["male","female"], value=[1,0])
new_df["mort"] = new_df["mort"].replace(to_replace=["alive","dead","unknown"], value=[1,0,-1])
new_df["smoking_status"] = new_df["smoking_status"].replace(to_replace=["former","active","never","unknown"], value=[2,1,0,-1])
new_df["stage_at_diagnosis"] = new_df["stage_at_diagnosis"].replace(to_replace=["I","II","IIIA"], value=[1,2,3])
new_df["Treatment"] = new_df["Treatment"].replace(to_replace=["Adjuvant treatment","No Adjuvant treatment"], value=[1,0])
new_df["Adjuvant_chemotherapy"] = new_df["Adjuvant_chemotherapy"].replace(to_replace=["Adjuvant_chemotherapy","No_chemotherapy"], value=[1,0])
new_df["Treatment_Radiation"] = new_df["Treatment_Radiation"].replace(to_replace=["Radiation","No_Radiation"], value=[1,0])
new_df["Recurrence_status"] = new_df["Recurrence_status"].replace(to_replace=["Recurrence","No Recurrence"], value=[1,0])
new_df.head()

,id,sex.raw,age,days,mort,smoking_status,stage_at_diagnosis,Treatment,Adjuvant_chemotherapy,Treatment_Radiation,Recurrence_status
0,14,1,60,465,0,1,2,0,0,0,1
1,15,0,52,163,0,2,1,0,0,0,1
2,24,1,50,272,0,1,2,0,0,0,1
3,43,0,71,140,-1,2,1,0,0,0,1
4,45,1,75,45,0,2,1,0,0,0,1

In [74]:
for col in colname:
    if col not in ["id","age", "days"]:
        print(new_df[col].value_counts())

1    56
0    40
Name: sex.raw, dtype: int64
 0    69
 1    20
-1     7
Name: mort, dtype: int64
 2    66
 1    22
 0     6
-1     2
Name: smoking_status, dtype: int64
1    59
2    20
3    17
Name: stage_at_diagnosis, dtype: int64
0    55
1    41
Name: Treatment, dtype: int64
0    88
1     8
Name: Adjuvant_chemotherapy, dtype: int64
0    59
1    37
Name: Treatment_Radiation, dtype: int64
0    64
1    32
Name: Recurrence_status, dtype: int64

In [76]:
newdf = new_df.iloc[:,1:]
newdf.head()

,sex.raw,age,days,mort,smoking_status,stage_at_diagnosis,Treatment,Adjuvant_chemotherapy,Treatment_Radiation,Recurrence_status
0,1,60,465,0,1,2,0,0,0,1
1,0,52,163,0,2,1,0,0,0,1
2,1,50,272,0,1,2,0,0,0,1
3,0,71,140,-1,2,1,0,0,0,1
4,1,75,45,0,2,1,0,0,0,1

In [87]:
rec = newdf.loc[newdf.Recurrence_status==1]
norec = newdf.loc[newdf.Recurrence_status==0]

In [93]:
#gender
rec_male = 

#median_age
rec_median_age = round(rec.age.median())
norec_median_age = round(norec.age.median())

237.5

In [4]:
pd.DataFrame(df["stage_at_diagnosis"]).describe()

       stage_at_diagnosis
count                  96
unique                  4
top                     I
freq                   59

In [98]:
round(1.4)

1

In [5]:
pd.DataFrame(df["stage_at_diagnosis"]).info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 96 entries, 0 to 95
Data columns (total 1 columns):
stage_at_diagnosis    96 non-null object
dtypes: object(1)
memory usage: 848.0+ bytes

In [104]:
df.head()

,Unnamed: 0,sex.raw,age,days,mort,smoking_status,stage_at_diagnosis,Treatment,Adjuvant_chemotherapy,Treatment_Radiation,Recurrence_status
0,14,male,60,465,dead,active,II,No Adjuvant treatment,No_chemotherapy,No_Radiation,Recurrence
1,15,female,52,163,dead,former,I,No Adjuvant treatment,No_chemotherapy,No_Radiation,Recurrence
2,24,male,50,272,dead,active,II,No Adjuvant treatment,No_chemotherapy,No_Radiation,Recurrence
3,43,female,71,140,NaN,former,I,No Adjuvant treatment,No_chemotherapy,No_Radiation,Recurrence
4,45,male,75,45,dead,former,I,No Adjuvant treatment,No_chemotherapy,No_Radiation,Recurrence

In [102]:
tt = df["stage_at_diagnosis"].value_counts()
type(tt)
tt

I       59
II      20
IIIA    17
Name: stage_at_diagnosis, dtype: int64

In [ ]:

df.head()

colname = df.columns 
for k,v in enumerate(colname):
    print(k, ": ", v)

df.describe().T

df.shape

df.iloc[0]

pd.DataFrame(df[colname[9]]).describe()

len(new_df[colname[5]].value_counts())

Counter(new_df[colname[5]].values)